<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Les Sept Rois - la Guerre des Ombres</title>
    <link href="{% static 'applsr/css/l7r.css' %}" rel="stylesheet">
</head>

<body>
    <script>
        var parts = location.pathname.split("/"); var nompj = parts[parts.length - 1];
    </script>
    <script src="{% static 'applsr/js/lsr.js' %}"></script>

    <div class="container">
        <h4 class="text-center"><b>{{ car.name|title }}</b> -
            {% if car.element == "glace" %}
            Champion de la Glace
            {% elif car.element == "eau" %}
            Champion de l'Eau
            {% elif car.element == "feu" %}
            Championne du Feu
            {% elif car.element == "ombre" %}
            Champion des Ombres
            {% elif car.element == "vent" %}
            Champion.ne du Vent
            {% elif car.element == "terre" %}
            Champion de la Terre
            {% elif car.element == "foudre" %}
            Championne de la Foudre
            {% elif car.element == "lumiere" %}
            Champion de la Lumière
            {% elif car.element == "lion" %}
            Rejeté du Lion
            {% elif car.element == "deva" %}
            Rejeté deva
            {% elif car.element == "illithid" %}
            Rejeté illithid
            {% elif car.element == "arbre" %}
            Arcane de l'Arbre
            {% elif car.element == "pacificateur" %}
            Pacificateur Atlantéen
            {% elif car.element == "spirite" %}
            Spirite
            {% else %}
            Rejeté de la Gorgonne
            {% endif %}
            niv. {{ car.niveau }}
        </h4>

        <table class="perso">
            <tr>
                <td rowspan="3">
                    {% with 'applsr/'|add:car.name|add:".png" as filepath %}
                    <img alt="Ce PJ n'existe pas !" class="figure-img img-fluid rounded" src="{% static filepath %}" style="width:100px; height:auto" />
                    {% endwith %}
                </td>
                <td>
                    <figure>
                        {% with 'applsr/'|add:"chair.png" as filepath %}
                        <img alt="" class="figure-img img-fluid rounded" src="{% static filepath %}" style="width:30px; height:auto" />
                        {% endwith %}
                    </figure>
                </td>
                <td>Chair : {{ car.chair }}</td>
                <td><i>Lux :</i><br />
                    <p style="color:orange">{{ car.fl }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                        {% with 'applsr/'|add:"esprit.png" as filepath %}
                        <img alt="" class="PF" src="{% static filepath %}" style="width:30px; height:auto" />
                        {% endwith %}
                    </figure>
                </td>
                <td>Esprit : {{ car.esprit }}</td>
                <td><i>Umbra :</i><br />
                    <p style="color:red">{{ car.fu }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                        {% with 'applsr/'|add:"essence.png" as filepath %}
                        <img alt="" class="PF" src="{% static filepath %}" style="width:30px; height:auto" />
                        {% endwith %}
                    </figure>
                </td>
                <td>Essence : {{ car.essence }}</td>
                <td><i>Secunda :</i><br>
                    <p style="color:blue">{{ car.fs }}</p>
                </td>
            </tr>
        </table>

        <dic class="control-panel">

            <div class="line">
                <!-- pv -->
                <label>
                    <span class="btn-group">
                        <button class="btn btn-info" onclick="moinsPv();">-</button>
                        <button class="btn btn-info" disabled>PV : <span id="pv">{{ car.point_de_vie }}</span> / {{ car.point_de_vie_max }}
                        </button>
                        <button class="btn btn-info" onclick="plusPv();">+</button>
                    </span>
                </label>
                <!-- dettes -->
                <label>
                    <span class="btn-group">
                        <button class="btn btn-info" onclick="moinsDt();">-</button>
                        <button class="btn btn-info" disabled>Dettes : <span id="dettes">{{ car.dettes }}</span></button>
                        <button class="btn btn-info" onclick="plusDt();">+</button>
                    </span>
                </label>
                <!-- arcanes -->
                <label>
                    <span class="btn-group">
                        <button class="btn btn-info" onclick="moinsAk();">-</button>
                        <button class="btn btn-info" disabled>Arcanes : <span id="arcanes">{{ car.arcanes }}</span> / {{ car.arcanes_max }}
                        </button>
                        <button class="btn btn-info" onclick="plusAk();">+</button>
                    </span>
                </label>
            </div>

            <div class="line">
                <!-- pf -->
                <label>
                    <span class="btn-group">
                        <button class="btn btn-info" onclick="moinsPf();">-</button>
                        <button class="btn btn-info">
                            <input autocomplete="off" id="use_pf" type="checkbox"> PF : <span id="pf">{{ car.point_de_focus_ }}</span> / {{ car.point_de_focus_max }}
                        </button>
                        <button class="btn btn-info" onclick="plusPf();">+</button>
                    </span>
                </label>

                <!-- pp -->
                <label>
                    <span class="btn-group" title="Ne peut pas être utilisé sur le jets d'arcane">
                        <button class="btn btn-info" onclick="moinsPp();">-</button>
                        <button class="btn btn-info">
                            <input autocomplete="off" id="use_pp" type="checkbox"> PP : <span id="pp">{{ car.point_de_pouvoir }}</span> / {{ car.point_de_pouvoir_max }}
                        </button>
                        <button class="btn btn-info" onclick="plusPp();">+</button>
                    </span>
                </label>
            </div>

            <div class="line">
                <!-- force -->
                <label title="Une réussite supplémentaire">
                    <span class="btn">
                        <input autocomplete="off" id="use_ra" type="checkbox" />
                        {% if car.niveau <= 13 %}
                            {% if car.element == "glace" %} Ruse
                            {% elif car.element == "feu" %} Séduction
                            {% elif car.element == "ombre" %} Discrétion
                            {% elif car.element == "vent" %} Adresse
                            {% elif car.element == "terre" %} Force
                            {% elif car.element == "foudre" %} Sagacité
                            {% elif car.element == "lumiere" %} Tenacité
                            {% elif car.element == "eau" %} Observatio
                            {% elif car.element == "arbre" %} Nature
                            {% elif car.element == "lion" %} Perception
                            {% elif car.element == "illithid" %} Détection de mensonge
                            {% elif car.element == "deva" %} Chaos
                            {% elif car.element == "pacificateur" %} Résistance magique
                            {% else %} Intimidation
                            {% endif %}
                        {% else %}
                            {% if car.element == "glace" %} Ruse / Self-contrôle
                            {% elif car.element == "feu" %} Séduction / Folie
                            {% elif car.element == "ombre" %} Discrétion / Empathie
                            {% elif car.element == "vent" %} Adresse / Vitess
                            {% elif car.element == "terre" %} Force / Stratégie
                            {% elif car.element == "foudre" %} Sagacité / Autorité
                            {% elif car.element == "lumiere" %} Tenacité / Inspiration
                            {% elif car.element == "eau" %} Observation / Apaisement
                            {% elif car.element == "arbre" %} Nature
                            {% elif car.element == "lion" %} Perception
                            {% elif car.element == "illithid" %} Détection de mensonge
                            {% elif car.element == "deva" %} Chaos
                            {% elif car.element == "pacificateur" %} Résistance magique
                            {% else %} Intimidation / Perception Essence
                            {% endif %}
                        {% endif %}
                    </span>
                </label>

                <!-- secret -->
                <label>
                    <span class="btn">
                        <input autocomplete="off" id="use_sc" type="checkbox">
                        Secret
                    </span>
                </label>
            </div>

            <div class="line">
                <!-- malédictions -->
                <label>
                    <span class="btn-group">
                        <button class="btn btn-danger" onclick="moinsMalus();">-</button>
                        <button class="btn btn-outline-danger">Malédictions : <span id="malus">0</span></button>
                        <button class="btn btn-danger" onclick="plusMalus();">+</button>
                    </span>
                </label>

                <!-- bénédictions -->
                <label>
                    <span class="btn-group">
                        <button class="btn btn-success" onclick="moinsBonus();">-</button>
                        <button class="btn btn-outline-success">Bénédictions : <span id="bonus">0</span></button>
                        <button class="btn btn-success" onclick="plusBonus();">+</button>
                    </span>
                </label>
            </div>

            <div class="line">
                <!-- jet chair -->
                <label>
                    <button class="btn btn-info" onclick="loadLancer(nompj, 'JC', document.getElementById('use_pf').checked, document.getElementById('use_pp').checked, document.getElementById('use_ra').checked, document.getElementById('use_sc').checked);">Jet de Chair
                    </button>
                </label>
                <!-- jet esprit -->
                <label>
                    <button class="btn btn-info" onclick="loadLancer(nompj, 'JS', document.getElementById('use_pf').checked, document.getElementById('use_pp').checked, document.getElementById('use_ra').checked, document.getElementById('use_sc').checked);">Jet d'Esprit
                    </button>
                </label>
                <!-- jet essence -->
                <label>
                    <button class="btn btn-info" onclick="loadLancer(nompj, 'JE', document.getElementById('use_pf').checked, document.getElementById('use_pp').checked, document.getElementById('use_ra').checked, document.getElementById('use_sc').checked);">Jet d'Essence
                    </button>
                </label>
                <!-- jet mort -->
                <label>
                    <button class="btn btn-info" onclick="loadLancerJdSvM(nompj);">
                        Mort
                    </button>
                </label>
            </div>

            <div class="line">
                <!-- jet magie -->
                <label>
                    <button class="btn btn-info" onclick="loadLancer(nompj, 'JM', document.getElementById('use_pf').checked, document.getElementById('use_pp').checked, document.getElementById('use_ra').checked, document.getElementById('use_sc').checked);">Jet de Magie
                    </button>
                </label>
                <!-- jet soin -->
                <label>
                    <button class="btn btn-info" onclick="loadLancer(nompj, 'Jsoin', document.getElementById('use_pf').checked, document.getElementById('use_pp').checked, document.getElementById('use_ra').checked, document.getElementById('use_sc').checked);">Jet de Soin
                    </button>
                </label>
                <!-- jet empirique -->
                <label>
                    <button class="btn btn-info" onclick="loadLancerEmpirique(document.getElementById('use_sc').checked);">Jet Empirique</button>
                </label>
            </div>

            <div class="line">
                <!-- utilisation arcane fixe -->
                <label>
                    <button class="btn btn-info" onclick="loadLancer(nompj, 'JAF', document.getElementById('use_pf').checked, false, document.getElementById('use_ra').checked, document.getElementById('use_sc').checked );">Arcane Fixe
                    </button>
                </label>
                <!-- jet arcane esprit -->
                <label>
                    <button class="btn btn-info" onclick="loadLancer(nompj, 'JAE', document.getElementById('use_pf').checked, false, document.getElementById('use_ra').checked, document.getElementById('use_sc').checked );">Arcane d'Esprit
                    </button>
                </label>
                <!-- jet arcane essence -->
                <label>
                    <button class="btn btn-info" onclick="loadLancer(nompj, 'JAS', document.getElementById('use_pf').checked, false, document.getElementById('use_ra').checked, document.getElementById('use_sc').checked );">Arcane d'Essence
                    </button>
                </label>
            </div>

        </dic>

        <div id="chat"></div>
    </div>
</body>

</html>