<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Les Sept Rois - la Guerre des Ombres</title>
    <link href="{% static 'applsr/css/lsr.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'applsr/lsr.svg' %}" />
</head>

<body class="pc-page">
    {% include "applsr/templates.html" %}

    {% csrf_token %}

    <script src="{% static 'applsr/js/lsr.js' %}"></script>

    <div class="main container">
        <div class="pc-container"></div>

        <div id="chat"><table></table></div>
    </div>

    <script>
        document.querySelector(".pc-container").appendChild(createCharacter("{{ car.name }}"));
    </script>
</body>

</html>