<div class="templates">
    <div class="character">
        <div class="flesh" title="Chair">
            <span class="label">Chair :</span>
            <input type="text" class="current" placeholder="chair" value="?" />
        </div>
        <div class="spirit" title="Esprit">
            <span class="label">Esprit :</span>
            <input type="text" class="current" placeholder="esprit" value="?" />
        </div>
        <div class="essence" title="Essence">
            <span class="label">Essence :</span>
            <input type="text" class="current" placeholder="essence" value="?" />
        </div>

        <div class="lux" title="Lux">
            <span class="label">Lux :</span>
            <input type="text" placeholder="lux" />
        </div>
        <div class="umbra" title="Umbra">
            <span class="label">Umbra :</span>
            <input type="text" placeholder="umbra"/>
        </div>
        <div class="secunda" title="Secunda">
            <span class="label">Secunda :</span>
            <input type="text" placeholder="secunda"/>
        </div>

        <div class="notes" title="Notes">
            <input type="text" placeholder="notes" />
        </div>

        <div class="hp" title="Points de vie">
            <span class="label">PV :</span>
            <input type="text" class="current" value="?" />
            <span class="sep">/</span>
            <span class="max">?</span>
        </div>
        <div class="debt" title="Dettes">
            <span class="label">Dettes :</span>
            <input type="text" class="current" value="?" />
        </div>
        <div class="arcana">
            <span class="label">Arcanes :</span>
            <input type="text" class="current" value="?" />
            <span class="sep">/</span>
            <span class="max">?</span>
        </div>
        <div class="focus" title="Points de focus">
            <span class="enabled">
                <input type="checkbox" />
            </span>
            <span class="label">PF :</span>
            <input type="text" class="current" value="?" />
            <span class="sep">/</span>
            <span class="max">?</span>
        </div>
        <div class="power" title="Points de pouvoir">
            <span class="enabled">
                <input type="checkbox" />
            </span>
            <span class="label">PP :</span>
            <input type="text" class="current" value="?" />
            <span class="sep">/</span>
            <span class="max">?</span>
        </div>
        <div class="curse" title="Malédiction">
            <input type="text" class="current" value="?" />
            <input type="text" class="fromhp" value="?" />
        </div>
        <div class="blessing" title="Bénédiction">
            <input type="text" class="current" value="?" />
        </div>

        <div class="proficiency" title="">
            <span class="enabled">
                <input type="checkbox" />
            </span>
            <span class="label">proficiency</span>
        </div>
        <div class="secret" title="Seul le MJ verra vos lancers">
            <span class="enabled">
                <input type="checkbox" />
            </span>
            <span class="label">Secret</span>
        </div>
    </div>
</div>