{% load static %}

<div class="templates" style="display: none;">
    <div class="character">

        <div class="controls">
            <input type="radio" name="activeCharacter" />
            <button class="delete disabled" onclick="effacer_pnj(this.closest('.character'));"> X </button>
        </div>
        
        <div class="summary">
            <span data-thing="name" class="name">
                <button class="edit" onclick="autoClick(this);">Edit</button>
                <span class="current">Name</span>
            </span>
            <span data-thing="title" class="title">
                <button class="edit" onclick="autoClick(this);">Edit</button>
                <span class="current">Champion</span>
            </span>
            <span data-thing="level" class="level">
                <button class="minus" onclick="autoClick(this);">-</button>
                <span class="label">niv.</span>
                <span class="current">3</span>
                <button class="plus" onclick="autoClick(this);">+</button>
            </span>
        </div>

        <div class="main">
            <div data-thing="portrait" class="portrait">
                <img alt="portrait" src="" />
            </div>

            <div class="abilities">
                <div data-thing="flesh" class="flesh" title="Chair">
                    <button class="minus" onclick="autoClick(this);">-</button>
                    <span class="logo">
                        {% with 'applsr/'|add:"chair.png" as filepath %}<img alt="chair" src="{% static filepath %}" />{% endwith %}
                    </span>
                    <span class="label">Chair :</span>
                    <span class="current">1</span>
                    <button class="plus" onclick="autoClick(this);">+</button>
                </div>
                <div data-thing="spirit" class="spirit" title="Esprit">
                    <button class="minus" onclick="autoClick(this);">-</button>
                    <span class="logo">
                        {% with 'applsr/'|add:"esprit.png" as filepath %}<img alt="chair" src="{% static filepath %}" />{% endwith %}
                    </span>
                    <span class="label">Esprit :</span>
                    <span class="current">1</span>
                    <button class="plus" onclick="autoClick(this);">+</button>
                </div>
                <div data-thing="essence" class="essence" title="Essence">
                    <button class="minus" onclick="autoClick(this);">-</button>
                    <span class="logo">
                        {% with 'applsr/'|add:"essence.png" as filepath %}<img alt="chair" src="{% static filepath %}" />{% endwith %}
                    </span>
                    <span class="label">Essence :</span>
                    <span class="current">1</span>
                    <button class="plus" onclick="autoClick(this);">+</button>
                </div>
            </div>

            <div class="story">
                <div data-thing="lux" class="lux" title="Lux">
                    <button class="edit" onclick="autoClick(this);">Edit</button>
                    <span class="label">Lux :</span>
                    <span class="current">lux</span>
                </div>
                <div data-thing="umbra" class="umbra" title="Umbra">
                    <button class="edit" onclick="autoClick(this);">Edit</button>
                    <span class="label">Umbra :</span>
                    <span class="current">umbra</span>
                </div>
                <div data-thing="secunda" class="secunda" title="Secunda">
                    <button class="edit" onclick="autoClick(this);">Edit</button>
                    <span class="label">Secunda :</span>
                    <span class="current">secunda</span>
                </div>
            </div>

        </div>

        <div class="hp-debt-arcana">
            <div data-thing="hp" class="hp" title="Points de vie">
                <button class="minus" onclick="autoClick(this);">-</button>
                <button class="minus-max" onclick="autoClick(this);">--</button>
                <span class="label">PV :</span>
                <span class="current">1</span>
                <span class="sep">/</span>
                <span class="max">1</span>
                <button class="plus-max" onclick="autoClick(this);">++</button>
                <button class="plus" onclick="autoClick(this);">+</button>
            </div>
            <div data-thing="debt" class="debt" title="Dettes">
                <button class="minus" onclick="autoClick(this);">-</button>
                <span class="label">Dettes :</span>
                <span class="current">1</span>
                <button class="plus" onclick="autoClick(this);">+</button>
            </div>
            <div data-thing="arcana" class="arcana">
                <button class="minus" onclick="autoClick(this);">-</button>
                <button class="minus-max" onclick="autoClick(this);">--</button>
                <span class="label">Arcanes :</span>
                <span class="current">3</span>
                <span class="sep">/</span>
                <span class="max">3</span>
                <button class="plus-max" onclick="autoClick(this);">++</button>
                <button class="plus" onclick="autoClick(this);">+</button>
            </div>
        </div>

        <div class="boosts">
            <div data-thing="focus" class="focus" title="Points de focus">
                <button class="minus" onclick="autoClick(this);">-</button>
                <button class="minus-max" onclick="autoClick(this);">--</button>
                <span class="enabled">
                    <input type="checkbox" />
                </span>
                <span class="label">PF :</span>
                <span class="current">1</span>
                <span class="sep">/</span>
                <span class="max">1</span>
                <button class="plus-max" onclick="autoClick(this);">++</button>
                <button class="plus" onclick="autoClick(this);">+</button>
            </div>
            <div data-thing="power" class="power" title="Points de pouvoir">
                <button class="minus" onclick="autoClick(this);">-</button>
                <button class="minus-max" onclick="autoClick(this);">--</button>
                <span class="enabled">
                    <input type="checkbox" />
                </span>
                <span class="label">PP :</span>
                <span class="current">1</span>
                <span class="sep">/</span>
                <span class="max">1</span>
                <button class="plus-max" onclick="autoClick(this);">++</button>
                <button class="plus" onclick="autoClick(this);">+</button>
            </div>
        </div>

        <div class="graces">
            <div data-thing="curse" class="curse" title="Malédiction">
                <button class="minus" onclick="autoClick(this);">-</button>
                <span class="label">Malédictions :</span>
                <span class="current">0</span>
                <div data-thing="curse2" class="curse2" title="Malédiction du à la perte de PV">
                    <button class="minus" onclick="autoClick(this);">-</button>
                    <span class="enabled">
                        <input type="checkbox" checked />
                    </span>
                    <span class="label"> + </span>
                    <span class="current">0</span>
                    <button class="plus" onclick="autoClick(this);">+</button>
                </div>
                <button class="plus" onclick="autoClick(this);">+</button>
            </div>
            <div data-thing="blessing" class="blessing" title="Bénédiction">
                <button class="minus" onclick="autoClick(this);">-</button>
                <span class="label">Bénédiction :</span>
                <span class="current">0</span>
                <button class="plus" onclick="autoClick(this);">+</button>
            </div>
        </div>

        <div class="options">
            <div data-thing="proficiency" class="proficiency" title="">
                <button class="edit" onclick="autoClick(this);">Edit</button>
                <span class="enabled">
                    <input type="checkbox" />
                </span>
                <span class="label">proficiency</span>
            </div>

            <div data-thing="secret" class="secret" title="Seul le MJ verra vos lancers">
                <span class="enabled">
                    <input type="checkbox" />
                </span>
                <span class="label">Secret</span>
            </div>
        </div>

        <details data-thing="notes" class="notes" title="Notes">
            <summary class="label">Notes :</summary>
            <textarea class="current" placeholder="notes"></textarea>
        </details>
    </div>

    <div class="roller">
        <div class="group">
            <button class="base" onclick="autoRoll(this);" data-roll="flesh">Jet de Chair</button>
            <button class="base" onclick="autoRoll(this);" data-roll="spirit">Jet d'Esprit</button>
            <button class="base" onclick="autoRoll(this);" data-roll="essence">Jet d'Essence</button>
            <button onclick="autoRoll(this);" data-roll="death">Mort</button>
        </div>
        <div class="group">
            <button onclick="autoRoll(this);" data-roll="magic">Jet de Magie</button>
            <button onclick="autoRoll(this);" data-roll="heal">Jet de Soin</button>
            <button onclick="autoRoll(this);" data-roll="empirical">Jet Empirique</button>
        </div>
        <div class="group">
            <button onclick="autoRoll(this);" data-roll="arcana">Arcane Fixe</button>
            <button onclick="autoRoll(this);" data-roll="arcana-spirit">Arcane d'Esprit</button>
            <button onclick="autoRoll(this);" data-roll="arcana-essence">Arcane d'Essence</button>
        </div>
    </div>
</div>