<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vikings</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="/static/css/l7r.css" rel="stylesheet">

</head>
<body>
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>
    var parts = location.pathname.split("/"); var nompj = parts[parts.length - 1];
</script>


<div class="container">
    <div class="text-center">
        <h4 class="text-center"><b>{{ car.name|title }}</b> -
            {% if car.role == "chef" %}
            Chef du clan
            {% elif car.role == "trickster" %}
            Trickster du clan
            {% elif car.role == "sorcier" %}
            Sorcier du clan
            {% endif %}
        </h4>


        <table align="center" class="perso" style="height:10px; width:300px;">
            <tr>
                <td rowspan="3">
                    {% with 'applsr/'|add:car.role|add:".png" as filepath %}
                    <img alt="Ce PJ n'existe pas !" class="figure-img img-fluid rounded"
                         src="{% static filepath %}"
                         style="width:100px; height:auto"/>
                    {% endwith %}
                </td>
                <td>Agriculture :<br/>{{ car.agriculture }}</td>
                <td>Charisme :<br/>{{ car.charisme }}</td>
            </tr>
            <tr>
                <td>Combat :<br/>{{ car.combat }}</td>
                <td>Magie :<br/>{{ car.magie }}</td>
            </tr>
            <tr>
                <tr>
                <td>Savoir :<br/>{{ car.savoir }}</td>
                <td>Navigation :<br/>{{ car.navigation }}</td>
                <td>Nature :<br/>{{ car.nature }}</td>
            </tr>

        </table>

        <div data-toggle="buttons">
            <label><span class="btn-group">
            <button class="btn btn-info" onclick="moinsPv();">-</button>
                <button class="btn btn-info" disabled>PV : <span id="pv">{{ car.point_de_vie }}</span> / {{ car.point_de_vie_max }}
                </button>
                <button class="btn btn-info" onclick="plusPv();">+</button>
              </span></label>

                    <label><span class="btn-group">
            <button class="btn btn-info" onclick="moinsMg();">-</button>
                <button class="btn btn-info" disabled>Magie : <span id="magie">{{ car.point_de_pouvoir }}</span>
                </button>
                <button class="btn btn-info" onclick="plusMg();">+</button>
              </span></label>
        </div>
        <div data-toggle="buttons">
            <label><span class="btn-group">
            <button class="btn btn-danger" onclick="moinsMalus();">-</button>
            <button class="btn btn-outline-danger">Malus : <span id="malus">0</span></button>
                  <button class="btn btn-danger" onclick="plusMalus();">+</button>
              </span></label>
            <label><span class="btn-group">
            <button class="btn btn-success" onclick="moinsBonus();">-</button>
            <button class="btn btn-outline-success">Bonus : <span id="bonus">0</span></button>
                  <button class="btn btn-success" onclick="plusBonus();">+</button>
              </span></label>
        </div>

        <div data-toggle="buttons">
            <label>
                <button class="btn btn-info"
                        onclick="loadLancer(nompj, 'JCH'
            );">Charisme
                </button>
            </label>
            <label>
                <button class="btn btn-info"
                        onclick="loadLancer(nompj, 'JAG'
            );">Agriculture
                </button>
            </label>
            <label>
                <button class="btn btn-info" onclick="loadLancer(nompj, 'JCB'
            );">Combat
                </button>
            </label>
            <label>
                <button class="btn btn-info" onclick="loadLancerDuel(nompj);">Duel
                </button>
            </label>
        </div>
        <div data-toggle="buttons">
             <label>
                <button class="btn btn-info" onclick="loadLancer(nompj, 'JMG'
            );">Magie
                </button>
            </label>
            <label>
                <button class="btn btn-info" onclick="loadLancer(nompj, 'JSV'
            );">Savoir
                </button>
            </label>
            <label>
                <button class="btn btn-info" onclick="loadLancer(nompj, 'JNV'
            );">Navig.
                </button>
            </label>
            <label>
                <button class="btn btn-info" onclick="loadLancer(nompj, 'JNT'
            );">Nature
                </button>
            </label>
        </div>
        <div id="chat"></div>

    </div>

</div>

<script src="{% static 'applsr/js/viking.js' %}"></script>


</body>
</html>