/* http://localhost/l7r-valou/l7r.css */

.perso td, .perso th {
  padding: .75rem;
  padding: 0;
  /* vertical-align: top; */
  vertical-align: middle;
  /* border-top: 1px solid #dee2e6; */
  border-top: none;
  vertical-align: middle;
  /*! margin: 0; */
}

.perso {
  /* width: 100%; */
  width: auto;
  /* margin-bottom: 1rem; */
  margin-bottom: 0;
  height: auto;
  width: auto;
  display: inline-flex;
  justify-content: center;
}

perso .figure-img {
  height: 130px;
  width: auto;
}

figure {
  /* margin: 0 0 1rem; */
  margin: 0;
  margin-left: 1rem;
}