// Root

$blue-info: #17a2b8;
$blue-info-light: #67c2d0;
$red-danger: #dc3545;
$green-success: #28a745;
$orange-warning: #d3930b;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

body {
  font-size: 20px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

// Base styles

body.pc-page {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

// Super generic styles

%reset-text {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
}

.button {
  display: inline-block;
  font-size: 1rem;
  border: 1px solid;
  line-height: 1.5;
  color: #fff;
  background-color: $blue-info;
  border-color: $blue-info;
  padding: 0.2rem 0.7rem;
  body.compact & {
    padding: 2px;
  }
  transition: background-color 1000ms linear, border-color 1000ms linear;
}

.round-button {
  @extend .button;
  border-radius: 5px;
}

// Generic styles
%ability {
  //background-color: red;
}

%stat {
  //background-color: green;
}

%flavor {
  //background-color: yellow;
}

%bonus {
  //background-color: blueviolet;
}

%option {
  //background-color: pink;
}

%input-as-text {
  @extend %reset-text;
  border: none;
  width: 100%;
  background-color: transparent;
}

// Actual styles

.flesh, .spirit, .essence {
  @extend %ability;
}

.hp, .focus, .power {
  @extend %stat;
}

.lux, .umbra, .secunda {
  @extend %flavor;
}

.notes {
  //background-color: aqua;
}

.curse, .curse2, .blessing {
  @extend %bonus;
}

.debt {
  //background-color: darkorange;
}

.proficiency, .secret, .hidden-number {
  @extend %option;
}
.name, .proficiency, .secret, .hidden-number { // don't really get why I need that but .secret don't have the same size if I don't do it.
  border: 1px solid $blue-info-light;
}

.arcana {
  //background-color: chartreuse;
}

.name {
  font-weight: bold;
}

.text-container {
  display: inline-block;
}

.lux, .umbra, .secunda {
  input[type="text"] {
    @extend %input-as-text;
  }
}

.name, .title, .level, .lux, .umbra, .secunda, .flesh, .spirit, .essence, .hp, .debt, .arcana, .focus, .power, .curse, .curse2, .blessing {
  
}

.lux, .secunda, .umbra {
  input[type="text"] {
    width: 10em;
  }
}

.character {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  & > * {
    display: flex;
    width: 100%;
    margin-bottom: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    & > * {
      margin-right: 1em;
    }
  }
  .main {
    flex: content;
  }
  .label:empty {
    display: none;
  }
  .portrait {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 90px;
    }
  }
  .abilities, .story {
    flex-direction: column;
  }
  .story {
    max-width: 25em;
  }
  .name .current {
    display: block; // or else ::first-letter does not work
    &::first-letter {
      text-transform: capitalize;
    }
  }
  .notes {
    flex-basis: 100%;
    display: block;
    textarea {
      height: 5em;
      display: block;
      width: 100%;
    }
  }
  .plus-max, .minus-max {
    border-color: $red-danger;
    background-color: $red-danger;
  }
  .blessing {
    & > *:not(button) {
      background-color: transparent;
      color: $green-success;
      border-top: 1px solid $green-success;
      border-bottom: 1px solid $green-success;
    }
    button {
      border-color: $green-success;
      background-color: $green-success;
    }
  }
  .curse {
    & > *:not(button) {
      background-color: transparent;
      color:  $red-danger;
      border-top: 1px solid $red-danger;
      border-bottom: 1px solid $red-danger;
    }
    button {
      border-color: $red-danger;
      background-color: $red-danger;
    }
  }
  .curse2 {
    margin: 0;
    padding: 0;
  }
}

.name, .title, .level, .lux, .umbra, .secunda, .flesh, .spirit, .essence, .hp, .debt, .arcana, .focus, .power, .curse, .curse2, .blessing, .proficiency, .secret, .hidden-number {
  display: flex;
  justify-content: space-between;
  .logo img {
    width: 1.5rem;
  }
  .current {
    flex-grow: 1;
  }
  & > * {
    background-color: $blue-info-light;
    color: white;
    padding: 0.2rem; // like the buttons
    body.compact & {
      padding: 2px;
    }
    display: flex;
    align-items: center;
  }
  & > button {
    @extend .button;
  }
  & > button:first-child {
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  & > button:last-child {
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// Roller

.roller {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  button {
    @extend .round-button;
    margin: 0 0.5rem;
  }
  .group {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    & > * {
      flex: content;
      margin-bottom: 0.5em;
    }
  }
}

.curse2 {
  padding: 0 !important; // because it's already inside another item
  button {
    display: none;
  }
}

.pc-page {
  .minus-max, .plus-max, .edit, .curse2 button, .curse2 .enabled, .notes, .level button, .hidden-number, .abilities button {
    display: none;
  }

  .name, .title, .level, .lux, .umbra, .secunda, .proficiency, .secret, .abilities {
    border: none;
    .current, .label, .enabled, .logo {
      border: none;
      background-color: transparent;
      color: #212529;
    }
  }
}

// Chat

#chat {
  text-align: left;
  td {
    padding: 0 0.5rem;
  }
  button {
    @extend .round-button;
    padding: 0 !important;
    margin-left: 0.2rem;
  }
  .dice {
    font-size: 30px;
  }
  .two-success {
    font-weight: bold;
    color: $red-danger;
  }
  .one-success {
    font-weight: bold;
    color: $orange-warning;
  }
  .high {
    color: $red-danger;
  }
  .medium {
    color: $orange-warning;
  }
  .low {
    color: $green-success;
  }
  table table {
    margin-left: 2rem;
    border-left: 2px solid #aaa;
  }
}

// Controls

.pc-page {
  .character .controls {
    display: none;
  }
}

.character {
  .controls {
    & > * {
      margin-right: 0.5rem;
    }
    .delete {
      @extend .round-button;
      &.disabled {
        border-color: $red-danger;
        background-color: $red-danger;
      }
      &.enabled {
        border-color: $green-success;
        background-color: $green-success;
      }
    }
  }
}

// GM Menu

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
}

.menu > * {
  border-right: 1px solid black;
  padding: 0 1rem;
}

.menu > *:last-child {
  border-right: none;
}

// compact

#liste_pj, #liste_pnj {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

body.gm-page {
  .character {
    max-width: 500px;
  }
}

body.compact.gm-page {
  .character {
    max-width: 270px;
  }
}

body.compact {
  .character {
    padding: 5px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    &.npc {
      border-color: $blue-info;
    }
    button.plus-max, button.minus-max, button.edit {
      display: none;
    }
  }
  .character {
    * {
      font-size: 14px !important;
    }
    align-items: start;
    flex-direction: row;
    .portrait, .title, .level, .story, .logo, .notes {
      display: none;
    }
    & > *, .abilities, .roller .group {
      display: contents;
    }
    .roller {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .roller button:not(.base) {
      display: none; // show only flesh, spriti and essence
    }
    .roller .group button {
      margin: 0;
      margin-right: 2px;
      flex-grow: 0;
    }
    .abilities > * {
      margin-right: 2px;
    }
    & > * > * {
      margin-right: 2px;
    }
  }
}

// hide old elements

.pc-page .perso-title, .pc-page .perso, .pc-page .control-panel {
  display: none;
}

// hide element not implemented

.character .notes {
  display: none !important;
}