* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

body {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.lux input[type=text], .umbra input[type=text], .secunda input[type=text] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
}

.button, .name > button, .title > button, .level > button, .lux > button, .umbra > button, .secunda > button, .flesh > button, .spirit > button, .essence > button, .hp > button, .debt > button, .arcana > button, .focus > button, .power > button, .curse > button, .curse2 > button, .blessing > button, .proficiency > button, .secret > button, .round-button, #chat button, .roller button {
  display: inline-block;
  font-size: 1rem;
  border: 1px solid;
  line-height: 1.5;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  padding: 0.2rem 0.7rem;
  transition: background-color 1000ms linear, border-color 1000ms linear;
}

.round-button, #chat button, .roller button {
  border-radius: 5px;
}

.lux input[type=text], .umbra input[type=text], .secunda input[type=text] {
  border: none;
  width: 100%;
  background-color: transparent;
}

.text-container {
  display: inline-block;
}

.lux input[type=text], .secunda input[type=text], .umbra input[type=text] {
  width: 10em;
}

.character {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.character > * {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.character > * > * {
  margin-right: 1em;
}
.character .main {
  flex: content;
}
.character .label:empty {
  display: none;
}
.character .portrait {
  display: flex;
  align-items: center;
  justify-content: center;
}
.character .portrait img {
  max-height: 90px;
}
.character .abilities, .character .story {
  flex-direction: column;
}
.character .name .current {
  display: block;
}
.character .name .current::first-letter {
  text-transform: capitalize;
}
.character .notes {
  flex-basis: 100%;
  display: block;
}
.character .notes textarea {
  height: 5em;
  display: block;
  width: 100%;
}
.character .plus-max, .character .minus-max {
  border-color: #dc3545;
  background-color: #dc3545;
}
.character .blessing > *:not(button) {
  background-color: transparent;
  color: #28a745;
  border-top: 1px solid #28a745;
  border-bottom: 1px solid #28a745;
}
.character .blessing button {
  border-color: #28a745;
  background-color: #28a745;
}
.character .curse > *:not(button) {
  background-color: transparent;
  color: #dc3545;
  border-top: 1px solid #dc3545;
  border-bottom: 1px solid #dc3545;
}
.character .curse button {
  border-color: #dc3545;
  background-color: #dc3545;
}

.name, .title, .level, .lux, .umbra, .secunda, .flesh, .spirit, .essence, .hp, .debt, .arcana, .focus, .power, .curse, .curse2, .blessing, .proficiency, .secret {
  display: flex;
  justify-content: space-between;
}
.name .logo img, .title .logo img, .level .logo img, .lux .logo img, .umbra .logo img, .secunda .logo img, .flesh .logo img, .spirit .logo img, .essence .logo img, .hp .logo img, .debt .logo img, .arcana .logo img, .focus .logo img, .power .logo img, .curse .logo img, .curse2 .logo img, .blessing .logo img, .proficiency .logo img, .secret .logo img {
  height: 1.5rem;
}
.name .current, .title .current, .level .current, .lux .current, .umbra .current, .secunda .current, .flesh .current, .spirit .current, .essence .current, .hp .current, .debt .current, .arcana .current, .focus .current, .power .current, .curse .current, .curse2 .current, .blessing .current, .proficiency .current, .secret .current {
  flex-grow: 1;
}
.name > *, .title > *, .level > *, .lux > *, .umbra > *, .secunda > *, .flesh > *, .spirit > *, .essence > *, .hp > *, .debt > *, .arcana > *, .focus > *, .power > *, .curse > *, .curse2 > *, .blessing > *, .proficiency > *, .secret > * {
  background-color: #67c2d0;
  color: white;
  padding: 0.2rem;
  display: flex;
  align-items: center;
}
.name > button:first-child, .title > button:first-child, .level > button:first-child, .lux > button:first-child, .umbra > button:first-child, .secunda > button:first-child, .flesh > button:first-child, .spirit > button:first-child, .essence > button:first-child, .hp > button:first-child, .debt > button:first-child, .arcana > button:first-child, .focus > button:first-child, .power > button:first-child, .curse > button:first-child, .curse2 > button:first-child, .blessing > button:first-child, .proficiency > button:first-child, .secret > button:first-child {
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.name > button:last-child, .title > button:last-child, .level > button:last-child, .lux > button:last-child, .umbra > button:last-child, .secunda > button:last-child, .flesh > button:last-child, .spirit > button:last-child, .essence > button:last-child, .hp > button:last-child, .debt > button:last-child, .arcana > button:last-child, .focus > button:last-child, .power > button:last-child, .curse > button:last-child, .curse2 > button:last-child, .blessing > button:last-child, .proficiency > button:last-child, .secret > button:last-child {
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.roller {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.roller button {
  margin: 0 0.5rem;
}
.roller .group {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.roller .group > * {
  flex: content;
  margin-bottom: 1em;
}

.pc-page2 .minus-max, .pc-page2 .plus-max, .pc-page2 .edit, .pc-page2 .curse2 button, .pc-page2 .curse2 .enabled {
  display: none;
}

#chat {
  text-align: left;
}
#chat td {
  padding: 0 0.5rem;
}
#chat button {
  margin-left: 0.2rem;
}
#chat .two-success {
  font-weight: bold;
}
#chat .one-success {
  font-weight: bold;
}

.pc-page .perso-title, .pc-page .perso, .pc-page .control-panel {
  display: none;
}

/*# sourceMappingURL=lsr.css.map */
